@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #ffcccc;
  scroll-behavior: smooth;
}

:root {
  --primary-font: "Poiret One", cursive;
  --secondary-font: "Handlee", cursive;
  --comforta: "Comfortaa", cursive;
  --cursive: "Cookie", cursive;
  --color1: #e62524;
  --color2: #ec8385;
  --color3: #d02224;
  --text-color: #641220;
}
.hide {
  display: none;
}
.nav {
  /*   display: flex; */
  background-color: white;
  width: 100%;
  text-align: center;
  left: 0;
  font-family: var(--primary-font);
  height: 9vw;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 16px 40px -5px rgba(233, 236, 239, 0.77);
}
.bottom-nav {
  position: absolute;
  bottom: 0;
}

.top-nav {
  position: fixed;
  top: 0;
}

.nav_contents {
  max-width: 785px;

  margin: auto;
}
.nav_contents ul {
  text-align: right;
  text-decoration: none;
  padding: 52px 0;
}

.nav_contents ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  float: none;
}
.nav_contents ul li a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px;
}

.nav_contents ul li a::before,
.nav_contents ul li a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 2s;
}
.nav_contents ul li a::after {
  bottom: 0;
  transform-origin: right;
}
.nav_contents ul li a::before {
  top: 0;
  transform-origin: left;
}

.nav_contents ul li a:hover::before,
.nav_contents ul li a:hover::after {
  transform: scaleX(1);
}

.nav_contents ul li:nth-child(1),
.nav_contents ul li:nth-child(2),
.nav_contents ul li:nth-child(4),
.nav_contents ul li:nth-child(5) {
  border-right: 2px solid #641220;
}

.nav_contents ul li:nth-child(1),
.nav_contents ul li:nth-child(2),
.nav_contents ul li:nth-child(3) {
  float: left;
}

.logo {
  height: auto;
  width: 190px;
  position: absolute;
  left: 51%;
  transform: translateX(-68%);
}

.logo img {
  width: 100%;
}

#social_links {
  float: right;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(-127%);
  right: -120px;
  margin: 0 160px;
  padding: 5px;
}

.fa-facebook,
.fa-instagram,
.fa-youtube,
.fa-spotify {
  color: var(--text-color);
  font-size: 18px;
}

/*tablet nav*/
.mainMenu {
  list-style: none;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: -16px;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color2);
  transition: top 1s ease;
  display: none;
}

.mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: #641220;
  font-size: 30px;
  font-weight: bold;
}

.mainMenu li a:hover {
  background-color: #111;
  color: white;
  transition: 1s ease;
}

.openMenu {
  font-size: 2.5rem;
  position: absolute;
  right: 6px;
  display: block;
  cursor: pointer;
  padding: 2vw;
}

.closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.fa-bars:before {
  color: #d02224;
}
.fa-times:before {
  color: #d02224;
}

.banner-media .fa-facebook,
.banner-media .fa-instagram,
.banner-media .fa-youtube,
.banner-media .fa-spotify {
  font-size: 30px;
  color: #641220;
}

main {
  margin: 1vw 20vw;
}

.v1 {
  margin-top: 2vw;
}

.heading {
  font-family: var(--primary-font);
}
.heading h1 {
  font-size: 30px;
  color: var(--text-color);
}

.video-title {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background-color: #e62524;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 7vw;
  bottom: 9vw;
  z-index: 1;

  box-shadow: 10px 2px 15px 5px #bfbfbf #bfbfbf;
}

.video-title h1 {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--primary-font);
}

.video-title h2 {
  font-family: var(--cursive);
  font-size: 35px;
  color: var(--primary-font);
}

.fade-in {
  animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video-title:hover {
  animation: rotateC ease 3s;
}

@keyframes rotateC {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
}

.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw 0;
}

.youtube .fa-youtube {
  font-size: 150px;
  color: #641220;
}

.youtube-desc h2 {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--text-color);
}

/*footer*/
footer {
  width: 100%;
  margin-top: 2vw;
  background-color: white;
}

.footer-container {
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.foot-logo {
  width: 20vw;
}
.foot-logo img {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot-text {
  padding: 2vw;
}
.foot-text h1 {
  font-family: var(--primary-font);
  font-size: 25px;
  margin-bottom: 1.5vw;
  color: var(--text-color);
  font-weight: bold;
}
.foot-text h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}
.foot-media {
  display: flex;
  flex-direction: row;
}

.foot-media .fa-facebook,
.foot-media .fa-instagram,
.foot-media .fa-youtube,
.foot-media .fa-spotify {
  font-size: 20px;
  color: #641220;
  margin: 0 1vw;
}

.press {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.press-text {
  padding: 2vw;
  display: flex;
  flex-direction: column;
}
.press-text h1 {
  font-family: var(--primary-font);
  font-size: 25px;
  margin-bottom: 1.5vw;
  color: var(--text-color);
  font-weight: bold;
}

.press-text a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}

/*contact page*/
.contact-main {
  margin: 1vw 15vw;
}
.contact-heading {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 30px;
  padding: 2vw;
}
.connect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box1 {
  width: 100%;
  height: 20vw;
  background-color: #ff3333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 50%;
}
.box1:hover,
.box2:hover,
.box3:hover {
  opacity: 100%;
}

.box1 .fa-envelope {
  font-size: 150px;
  color: #641220;
}

.box-text a {
  font-family: var(--primary-font);
  font-size: 40px;
  color: var(--text-color);
  padding: 1vw;
  text-decoration: none;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #f8d3d4;
}

input.email,
input.subject {
  width: 50%;
  margin-bottom: 1vw;
}
#contact-form {
  margin-top: 2vw;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.form-text h1 {
  font-family: var(--primary-font);
  font-size: 30px;
  color: var(--text-color);
}

label h3 {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--text-color);
  padding: 0.5vw;
}
button h3 {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--text-color);
  padding: 0.5vw;
}
.status {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--text-color);
}

/*gallery page*/
.gallery-title h1 {
  font-family: var(--primary-font);
  color: var(--text-color);
  padding: 2vw;
  font-size: 35px;
}
.np-text {
  font-family: var(--secondary-font);
  color: var(--text-color);
  padding: 0 3vw;
  font-size: 25px;
  margin-bottom: 1vw;
}
.c-text {
  font-family: var(--secondary-font);
  color: var(--text-color);
  padding: 0 3vw;
  font-size: 25px;
  margin-top: 5vw;
  margin-bottom: 1vw;
}
.photo-info {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 25px;
  margin-bottom: 2vw;
  font-style: italic;
  font-weight: 400;
}
.np-photos,
.c-photos {
  width: 100%;
}
.np-photos img,
.c-photos img {
  width: 100%;
}

/*Press page*/
.p-text {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 30px;
}
.eng {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--text-color);
  margin-top: 2.5vw;
}

.press-grid {
  display: flex;
  flex-direction: column;
  margin-top: 2.5vw;
}
.press-grid h3 {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 22px;
  padding: 1vw;
}
.press-grid:nth-child(2) {
  margin-top: 0.5vw;
}
.press1,
.press2 {
  margin-top: 1vw;
}
/*about*/
#about-main {
  margin: 2vw 6vw;
}
#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}
.about-img {
  width: 60%;
}
.about-img img {
  width: 100%;
}
.about-content {
  width: 50%;
  height: auto;
}
.about-text {
  padding: 3vw;
  background-color: white;
}
.about-heading {
  padding: 1vw;
  font-family: var(--cursive);
  font-size: 35px;
  color: var(--text-color);
  text-align: center;
}
.about-text h1 {
  font-family: var(--primary-font);
  font-size: 35px;
  color: var(--text-color);
}
.about-text p {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--text-color);
}
/*music*/
#audio-file {
  width: 100%;
  background-color: #f8d3d4;
}

#info-and-audio {
  /*   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 3px 26px; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3vw;
}

.audio-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4d4d;
  height: 25vw;
  width: 28vw;
  margin: 0 0;
}

.audio-info h2 {
  font-size: 40px;
  font-family: var(--primary-font);
  padding: 3vw;
  color: var(--text-color);
}

.play-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color: #e9ecef;
  height: 25vw;
  margin: 0 0;
  width: 70%;
}
.play-audio a {
  text-decoration: none;
  font-size: 15px;
  color: var(--text-color);
  padding: 2vw;
}
.play-audio button {
  height: 4vw;
  width: 11vw;
  border: none;
  background-color: #ff4d4d;
}

.audio-logo {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  margin-top: 1vw;
}
.audio-logo img {
  width: 100%;
}

.audio-name {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
}

#audio-file .spotify {
  height: 7vw;
  width: 7vw;
  background-color: #ff9999;
  border-radius: 50%;
  position: absolute;
  right: 49vw;
  top: 24vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 85%;
}

.spotify .fa-spotify {
  font-size: 55px;
}

.music-heading {
  padding: 1vw;
  font-family: var(--primary-font);
  font-size: 35px;
  color: var(--text-color);
}

.music-platforms {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  justify-content: space-evenly;
}
.itunes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mp-icon {
  border-radius: 50%;
}
.mp-icon .fa-itunes {
  font-size: 250px;
  text-align: center;
  color: #ff4d4d;
}
.mp-icon .fa-soundcloud {
  font-size: 250px;
  text-align: center;
  color: #ff4d4d;
}

.mp-text {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 30px;
  padding: 1vw;
}
@media only screen and (max-width: 768px) {
  main {
    margin-top: 25vw;
  }

  .openMenu {
    top: 0;
  }

  .video-title {
    height: 22vw;
    width: 22vw;
    bottom: 63vw;
    left: 4vw;
  }
  .resized-logo {
    width: 26%;
    position: absolute;
    top: 0%;
    left: -3vw;
    padding: 1vw;
  }
  .resized-logo img {
    width: 100%;
  }

  .youtube .fa-youtube {
    font-size: 120px;
  }
  /*contact*/
  .contact-main {
    margin-top: 20vw;
  }
  .box1,
  .box2,
  .box3 {
    opacity: 100%;
  }
  .box1 .fa-phone,
  .box2 .fa-envelope,
  .box3 .fa-map-marker-alt {
    font-size: 50px;
  }
  .box-text {
    font-size: 9px;
  }

  /*about*/
  #about {
    flex-direction: column;
  }
  .about-img {
    width: 100%;
  }
  .about-content {
    width: auto;
  }
  .about-text h1 {
    font-size: 25px;
  }
  .about-text p {
    font-size: 16px;
  }

  /*music*/

  #info-and-audio {
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
  }

  .audio-info {
    width: 100%;
    margin: 0 0;
  }
  .audio-info h2 {
    font-size: 20px;
  }
  .play-audio {
    margin: 0;
    width: 100%;
  }

  #audio-file .spotify {
    right: 17vw;
    top: 324vw;
  }
  .mp-icon .fa-itunes {
    font-size: 154px;
  }
  .mp-text {
    font-size: 19px;
  }
}

@media only screen and (max-width: 480px) {
  iframe {
    width: 100%;
  }
  main {
    margin: 18vw 4vw;
  }

  .heading h1 {
    font-size: 20px;
    padding: 2.5vw;
  }
  .video-title {
    height: 29vw;
    width: 29vw;
    bottom: 85vw;
  }
  .video-title h1 {
    font-size: 16px;
  }
  .video-title h2 {
    font-size: 30px;
  }

  .youtube .fa-youtube {
    font-size: 81px;
  }
  .youtube-desc h2 {
    font-size: 20px;
  }
  .resized-logo {
    width: 29%;
  }

  .foot-text h1 {
    font-size: 16px;
  }

  .foot-text h3 {
    font-size: 11px;
  }
  .press-text h1 {
    font-size: 16px;
  }
  .press-text a {
    font-size: 11px;
  }

  .foot-media .fa-facebook,
  .foot-media .fa-instagram,
  .foot-media .fa-youtube,
  .foot-media .fa-spotify {
    font-size: 12px;
  }

  .foot-logo {
    width: 27vw;
  }
  /*contact*/
  .contact-heading {
    font-size: 20px;
  }

  .connect {
    flex-direction: column;
  }

  .box1,
  .box2,
  .box3 {
    width: 100%;
    height: 28vw;
    opacity: 100%;
  }

  form {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  #contact-form {
    margin-top: 10vw;
  }
  .form-text h1 {
    font-size: 25px;
    margin-bottom: 2vw;
  }
  label h3 {
    font-size: 18px;
  }
  button h3 {
    font-size: 18px;
  }
  .gallery img {
    filter: none;
  }

  .gallery-title h1 {
    font-size: 20px;
    margin-top: 23vw;
  }

  #press-wrapper iframe {
    width: 100%;
  }
  .p-text {
    font-size: 26px;
    margin-top: 24vw;
  }
  .eng {
    font-size: 20px;
    margin-top: 8vw;
  }
  .press-grid h3 {
    font-size: 18px;
    padding: 2vw;
  }

  /*music*/
  #info-and-audio {
    padding: 4vw;
    margin-top: 3vw;
  }

  .play-audio {
    height: auto;
  }
  .audio-logo {
    height: 20vw;
    width: 20vw;
    margin: 2vw 0;
  }

  audio {
    width: 262px;
  }

  #audio-file .spotify {
    right: 19vw;
    top: 433vw;
  }
  .spotify .fa-spotify {
    font-size: 35px;
  }
  .music-heading {
    font-size: 20px;
    margin-top: 25vw;
  }

  /*gallery*/
  .np-text {
    font-size: 17px;
  }
  .photo-info {
    font-size: 16px;
    margin-bottom: 4vw;
  }
  .c-text {
    font-size: 17px;
  }
}
.active {
  background-color: var(--color2);
  color: black;
}
