@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #ffcccc;
}

:root {
  --primary-font: "Poiret One", cursive;
  --secondary-font: "Handlee", cursive;
  --comforta: "Comfortaa", cursive;
  --cursive: "Cookie", cursive;
  --color1: #e62524;
  --color2: #ec8385;
  --color3: #d02224;
  --text-color: #641220;
}

.header {
  height: 100vh;
  background-color: var(--color2);
}

.hide {
  display: none;
}

.nav {
  /*   display: flex; */
  background-color: white;
  width: 100%;
  text-align: center;
  left: 0;
  font-family: var(--primary-font);
  height: 9vw;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 16px 40px -5px rgba(233, 236, 239, 0.77);
}
.bottom-nav {
  position: absolute;
  bottom: 0;
}

.top-nav {
  position: fixed;
  top: 0;
}

.nav_contents {
  max-width: 785px;

  margin: auto;
}
.nav_contents ul {
  text-align: right;
  text-decoration: none;
  padding: 52px 0;
}

.nav_contents ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  float: none;
}
.nav_contents ul li a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav_contents ul li a::before,
.nav_contents ul li a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 2s;
}
.nav_contents ul li a::after {
  bottom: 0;
  transform-origin: right;
}
.nav_contents ul li a::before {
  top: 0;
  transform-origin: left;
}

.nav_contents ul li a:hover::before,
.nav_contents ul li a:hover::after {
  transform: scaleX(1);
}

.nav_contents ul li:nth-child(1),
.nav_contents ul li:nth-child(2),
.nav_contents ul li:nth-child(4),
.nav_contents ul li:nth-child(5) {
  border-right: 2px solid #641220;
}

.nav_contents ul li:nth-child(1),
.nav_contents ul li:nth-child(2),
.nav_contents ul li:nth-child(3) {
  float: left;
}

.logo {
  height: auto;
  width: 190px;
  position: absolute;
  left: 51%;
  transform: translateX(-68%);
}

.logo img {
  width: 100%;
}

#social_links {
  float: right;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(-127%);
  right: -120px;
  margin: 0 160px;
  padding: 5px;
}

.fa-facebook,
.fa-instagram,
.fa-youtube,
.fa-spotify {
  color: var(--text-color);
  font-size: 18px;
}

#container2 {
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.box,
.box2 {
  padding: 20px;
  font-size: 20px;
  color: white;
}

/*paralla*/
#container {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url(../images/background-main1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 8vw;
  height: 8vw;
  margin: 2vw;
}
.header-logo img {
  width: 100%;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 18vw;
  height: 18vw;
  background-color: var(--color2);
  opacity: 60%;
  transform: rotate(45deg);
  overflow: hidden;
  position: relative;
  top: 60px;
  right: -370px;
}
.circle {
  width: 20vw;
  height: 20vw;
  background-color: var(--color3);
  opacity: 60%;
  border-radius: 50%;

  position: relative;
  top: -205px;
  left: 890px;
}

.first-text {
  position: absolute;
  bottom: 127px;
  right: 28px;
  transform: rotateZ(-45deg);
  animation-name: topFadeInOut;

  animation-duration: 4s;
}
.second-text {
  position: absolute;
  bottom: 0px;
  right: 29px;
  animation-name: bottomFadeInOut;

  animation-duration: 4s;
}

.third-text {
  position: absolute;
  bottom: 60px;
  right: -20px;
  animation-name: straightFadeInOut;
  animation-duration: 5s;
}
.square h1 {
  font-family: var(--comforta);
  color: var(--text-color);
  font-size: 28px;
  opacity: 1;
}
.circle h1 {
  font-family: var(--comforta);
  color: var(--text-color);
  opacity: 1;
}

@keyframes straightFadeInOut {
  0% {
    position: absolute;
    right: 60px;
    opacity: 0;
  }

  100% {
    position: absolute;
    opacity: 1;
    right: -20px;
  }
}

@keyframes topFadeInOut {
  0% {
    position: absolute;
    bottom: -9px;
    opacity: 0;
  }

  100% {
    position: absolute;
    opacity: 1;
    bottom: 127px;
  }
}

@keyframes bottomFadeInOut {
  0% {
    position: absolute;
    right: -59px;
    opacity: 0;
  }

  100% {
    position: absolute;
    opacity: 1;
    right: 29px;
  }
}

main {
  background-color: #f8d3d4;
  width: 100%;
}

#main-contents {
  margin: 0vw 10vw;
  padding: 2vw;
  position: relative;
}

#main-content {
  padding: 2vw;

  display: flex;
  justify-content: center;
}

#the_div {
  height: 20vw;
  width: 20vw;
  z-index: 0;
  border-radius: 50%;
  background-color: #e25052;
  opacity: 50%;
}
#main-content2 {
  padding: 2vw;
  height: 30vw;
}

#the_div2 {
  height: 18vw;
  width: 18vw;
  z-index: 0;
  border-radius: 50%;
  background-color: #d02224;
}

#text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#text h1 {
  font-size: 40px;
  font-family: var(--primary-font);
  color: var(--text-color);
}
#text p {
  font-size: 25px;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.greetings {
  width: 10vw;
  position: absolute;
  right: 36vw;
}
.slogan {
  width: 10vw;
  position: absolute;
  left: 37vw;
}

/*new-release*/

#new-release {
  width: 100%;
  height: auto;
  background-color: white;
}
#banner-container {
  margin: 0 10vw;

  /*   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 3px 9px; */

  display: flex;
  flex-direction: row;
  padding: 3vw;
}

.banner {
  width: 40%;

  box-shadow: 5px 5px 15px -6px #000000;
}
.banner img {
  width: 100%;
}

.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ffcccc;
}
.banner-text {
  text-align: center;
  padding: 2vw;
  color: var(--text-color);
}

.banner-text h1 {
  font-family: var(--primary-font);
  font-size: 36px;
  margin: 0.5vw;
}

.banner-text .song {
  font-family: var(--cursive);
  font-size: 40px;
  margin: 0.5vw;
}
.new-song {
  font-size: 40px;
}

.banner-text h2 {
  font-family: var(--primary-font);
  margin: 0.5vw;
}
.banner-text h3 {
  font-family: var(--primary-font);
  margin: 0.5vw;
}

.banner-media .fa-facebook,
.banner-media .fa-instagram,
.banner-media .fa-youtube,
.banner-media .fa-spotify {
  font-size: 30px;
  margin: 0 1vw;
}

/*tablet nav*/
.mainMenu {
  list-style: none;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: -16px;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color2);
  transition: top 1s ease;
  display: none;
}

.mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: #641220;
  font-size: 30px;
  font-weight: bold;
}

.mainMenu li a:hover {
  background-color: #111;
  color: white;
  transition: 1s ease;
}

.openMenu {
  font-size: 2.5rem;
  position: absolute;
  right: 6px;
  display: block;
  cursor: pointer;
  padding: 2vw;
}

.closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.fa-bars:before {
  color: #d02224;
}
.fa-times:before {
  color: #d02224;
}

.banner-media .fa-facebook,
.banner-media .fa-instagram,
.banner-media .fa-youtube,
.banner-media .fa-spotify {
  font-size: 30px;
  color: #641220;
}

/*audio*/
#audio-file {
  width: 100%;
  background-color: #f8d3d4;
}

#info-and-audio {
  /*   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 3px 26px; */
  margin: 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3vw;
}

.audio-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4d4d;
  height: 25vw;
  width: 28vw;
  margin: 0 0;
}

.audio-info h2 {
  font-size: 40px;
  font-family: var(--primary-font);
  padding: 3vw;
  color: var(--text-color);
}

.play-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color: #e9ecef;
  height: 25vw;
  margin: 0 0;
  width: 70%;
}

.audio-logo {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  margin-top: 1vw;
}
.audio-logo img {
  width: 100%;
}

.audio-name {
  font-family: var(--cursive);
  font-size: 25px;
  color: var(--text-color);
}

#audio-file .spotify {
  height: 7vw;
  width: 7vw;
  background-color: #ff9999;
  border-radius: 50%;
  position: absolute;
  right: 42vw;
  top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 85%;
}

.spotify .fa-spotify {
  font-size: 55px;
}

/*events*/

#event {
  width: 100%;
}
.event-container {
  margin: 0 10vw;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
}

.event-info {
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}
.event-logo {
  width: 19vw;

  border-radius: 50%;
  margin-top: 1vw;
}
.event-logo img {
  width: 100%;
}

.event-text {
  background-color: #ff4d4d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 18vw;
  height: 18vw;
  text-align: center;
  position: absolute;
  left: 65vw;
}

.event-text h1 {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 35px;
  text-transform: uppercase;
  padding: 2vw;
}

.location {
  font-family: var(--primary-font);
  font-size: 35px;
  margin: 1.5vw 0;
}

.address {
  font-family: var(--cursive);
  font-size: 35px;
}

.date {
  font-family: var(--primary-font);
  font-size: 35px;
  margin: 1.5vw 0;
}

/*collab*/
#collab {
  width: 100%;
  background-color: white;
}
.collab-container {
  margin: 0 10vw;
  padding: 3vw;
}
.collab-text h1 {
  font-family: var(--primary-font);
  font-size: 26px;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 1.5vw;
}

#grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.collab1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collab2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collab1 .collab-image {
  width: 19vw;
}
.collab2 .collab-image {
  width: 25vw;
}
.collab-image img {
  width: 100%;
  border-radius: 50%;
}
.collab-desc {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #e9ecef;
  padding: 2vw;
}

.collab-desc h1 {
  font-family: var(--primary-font);
  font-size: 22px;
  color: var(--text-color);
  text-transform: uppercase;
  margin-top: 1.5vw;
}
.collab-desc p {
  font-family: var(--secondary-font);
  font-size: 12px;
  color: var(--text-color);
  text-transform: uppercase;
}

/*footer*/
footer {
  width: 100%;
  margin-top: 2vw;
  background-color: white;
}

.footer-container {
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.foot-logo {
  width: 20vw;
}
.foot-logo img {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot-text {
  padding: 2vw;
}
.foot-text h1 {
  font-family: var(--primary-font);
  font-size: 25px;
  margin-bottom: 1.5vw;
  color: var(--text-color);
  font-weight: bold;
}
.foot-text h3 {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}
.foot-media {
  display: flex;
  flex-direction: row;
}

.foot-media .fa-facebook,
.foot-media .fa-instagram,
.foot-media .fa-youtube,
.foot-media .fa-spotify {
  font-size: 20px;
  color: #641220;
  margin: 0 1vw;
}

.press {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.press-text {
  padding: 2vw;
  display: flex;
  flex-direction: column;
}
.press-text h1 {
  font-family: var(--primary-font);
  font-size: 25px;
  margin-bottom: 1.5vw;
  color: var(--text-color);
  font-weight: bold;
}

.press-text a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .navi1 {
    visibility: visible;
  }
  .header {
    height: 100vh;
    width: 100%;
  }

  #container {
    background-image: none;
    background-color: var(--color2);
  }

  .square {
    background-color: var(--color1);
    height: 28vw;
    width: 28vw;
    top: 78px;
    right: -275px;
    opacity: 100%;
  }

  .circle {
    width: 31vw;
    height: 31vw;
    left: 267px;
    top: 59vw;
    opacity: 100%;
  }

  .header-logo {
    width: 37vw;
    top: 32%;
    left: 28%;
  }

  .first-text {
    bottom: 106px;
    right: 22px;
  }

  .second-text {
    right: 14px;
  }

  .nav {
    visibility: hidden;
  }

  #the_div {
    width: 40vw;
    height: 40vw;
  }

  .slogan {
    left: 21vw;
  }

  .greetings {
    width: 41vw;
    right: 4vw;
  }
  #text h1 {
    font-size: 52px;
  }
  #text p {
    font-size: 29px;
  }

  #banner-container {
    flex-direction: column;
  }

  .banner {
    width: 100%;
  }

  .banner-text {
    padding: 3vw;
  }

  .banner-media {
    padding: 3vw;
  }

  /*audio*/

  #info-and-audio {
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
  }

  .audio-info {
    width: 100%;
    margin: 0 0;
  }
  .audio-info h2 {
    font-size: 20px;
  }
  .play-audio {
    margin: 0;
    width: 100%;
  }

  #audio-file .spotify {
    right: 17vw;
    top: 324vw;
  }

  /*event*/

  .location {
    font-size: 25px;
  }

  .address {
    font-size: 25px;
  }

  .date {
    font-size: 25px;
  }
  .event-text h1 {
    font-size: 25px;
  }

  .event-text {
    left: 69vw;
  }

  /*collab*/
  .collab-text h1 {
    font-size: 20px;
  }

  .collab-desc h1 {
    font-size: 20px;
  }
  .collab-desc p {
    font-size: 14px;
  }

  /*footer*/
  .foot-text h1 {
    font-size: 23px;
  }
  .foot-text h3 {
    font-size: 18px;
  }
  .press-text h1 {
    font-size: 23px;
  }
  .press-text a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .square {
    height: 38vw;
    width: 38vw;
    top: 81px;
    right: -130px;
  }

  .header-logo {
    width: 54vw;
    left: 22%;
  }

  .circle {
    width: 48vw;
    height: 48vw;
    left: 108px;
    top: 98vw;
  }

  .first-text {
    bottom: 70px;
    right: 14px;
  }

  .square h1 {
    font-size: 19px;
  }
  .second-text {
    right: 3px;
  }
  .third-text {
    bottom: 37px;
  }
  .fa-times:before {
    margin-right: 14vw;
  }

  .mainMenu {
    overflow-x: hidden;
  }

  #the_div {
    width: 45vw;
    height: 45vw;
  }

  #text h1 {
    font-size: 26px;
  }
  #text p {
    font-size: 16px;
  }

  .banner-text h1 {
    font-size: 20px;
  }

  .banner-text h2 {
    font-size: 20px;
  }

  .banner-text .song {
    font-size: 30px;
  }

  .banner-text h3 {
    font-size: 13px;
  }

  .banner-media .fa-facebook,
  .banner-media .fa-instagram,
  .banner-media .fa-youtube,
  .banner-media .fa-spotify {
    font-size: 25px;
  }
  /*audio*/
  #info-and-audio {
    padding: 4vw;
  }

  .play-audio {
    height: auto;
  }
  .audio-logo {
    height: 20vw;
    width: 20vw;
    margin: 2vw 0;
  }

  audio {
    width: 262px;
  }

  #audio-file .spotify {
    right: 19vw;
    top: 433vw;
  }
  .spotify .fa-spotify {
    font-size: 35px;
  }

  /*event*/

  .event-logo {
    width: 32vw;
  }

  .location {
    font-size: 14px;
  }

  .address {
    font-size: 14px;
  }

  .date {
    font-size: 14px;
  }
  .event-text h1 {
    font-size: 14px;
  }

  /*collab*/
  .collab-text h1 {
    font-size: 13px;
  }

  .collab-desc h1 {
    font-size: 13px;
  }
  .collab-desc p {
    font-size: 9px;
  }

  /*footer*/
  .foot-text h1 {
    font-size: 16px;
  }
  .foot-text h3 {
    font-size: 11px;
  }
  .press-text h1 {
    font-size: 16px;
  }
  .press-text a {
    font-size: 11px;
  }

  .foot-media .fa-facebook,
  .foot-media .fa-instagram,
  .foot-media .fa-youtube,
  .foot-media .fa-spotify {
    font-size: 12px;
  }

  .foot-logo {
    width: 27vw;
  }
}
